div[lsfusion-container="PROPERTY(choose(p))"].propertyContainerPanel {
    flex-wrap: wrap;
}

div[lsfusion-container="PROPERTY(choose(p))"] .panelRendererValue {
    min-height: 36px !important;
    max-height: 36px !important;
}

div[lsfusion-container="PROPERTY(choose(fi))"].propertyContainerPanel {
    flex-wrap: wrap;
    flex-shrink: 1;
}

div[lsfusion-container="PROPERTY(choose(fi))"] .panelRendererValue {
    min-height: 48px !important;
    max-height: 48px !important;
    align-self: end !important;
}

div[lsfusion-container="GRID(o)"] .option-item {
    min-height: 40px !important;
    flex: 1;
    font-size: x-large;
    border: var(--border-width) solid var(--component-border-color) !important;
}