/*
todo: after upgrading to v6 rename or use cssBackwardCompatibilityLevel option
https://github.com/lsfusion/platform/issues/1292
*/

/*todo: rename to property-container-panel*/
div[lsfusion-container="PROPERTY(choose(p))"].propertyContainerPanel {
    flex-wrap: wrap;
}

div[lsfusion-container="PROPERTY(choose(p))"] .panelRendererValue {
    min-height: 36px !important;
    max-height: 36px !important;
}

/*todo: rename to property-container-panel*/
div[lsfusion-container="PROPERTY(choose(fi))"].propertyContainerPanel {
    flex-wrap: wrap;
    flex-shrink: 1;
}

/*todo: rename to selected-file-cell-has-edit */
div[lsfusion-container="PROPERTY(iimage())"] img.selectedFileCellHasEdit {
    width: 100%;
}

/*todo: rename to opposite-size-css-fix-panel*/
div[lsfusion-container="PROPERTY(choose(fi))"]>.oppositeSizeCssFixPanel,
div[lsfusion-container="PROPERTY(choose(fi))"]>.panelRendererValue {
    min-height: 48px !important;
    max-height: 48px !important;
    align-self: end !important;
}

div[lsfusion-container="GRID(m)"] .option-container { /*todo: in 6 version of platform css class .option-container replaced by classes .option-btn-container.btn-group */
    flex-direction: column
}

div[lsfusion-container="GRID(m)"] .option-btn-container {
    flex-direction: column;
    display: flex;
}

div[lsfusion-container="GRID(m)"] .option-item { /*todo: in 6 version of platform css class .option-item replaced by classes .btn.btn-outline-primary.option-item */
    min-height: 40px !important;
    align-self: stretch;
    font-size: x-large;
    border: var(--border-width) solid var(--component-border-color) !important;
}

div[lsfusion-container="GRID(m)"] .btn {
    min-height: 40px !important;
    align-self: stretch;
    text-align: center;
    font-size: x-large;
    border: var(--border-width) solid var(--component-border-color) !important;
}

div[lsfusion-container="GRID(o)"] .option-container { /*todo: in 6 version of platform css class .option-container replaced by class .option-btn-container.btn-group */
    flex-direction: column
}

div[lsfusion-container="GRID(o)"] .option-item { /*todo: in 6 version of platform css class .option-item replaced by classes .btn.btn-outline-primary.option-item */
    min-height: 40px !important;
    align-self: stretch;
    font-size: x-large;
    border: var(--border-width) solid var(--component-border-color) !important;
}

div[lsfusion-container="GRID(o)"] .option-item-selected { /*todo: in 6 version of platform css class .option-item-selected replaced by classes .btn-check:checked + .btn.btn-outline-primary.option-item */
    background: coral;
}