<?xml version='1.0' encoding='ISO-8859-1' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="stdout" class="lsfusion.base.log.CustodianDailyRollingFileAppender">
        <param name="file" value="logs/stdout.log" />
        <param name="encoding" value="UTF-8" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="MaxNumberOfDays" value="7" />
        <param name="CompressBackups" value="true" />
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ALL"/>
            <param name="LevelMax" value="INFO"/>
        </filter>
    </appender>

    <appender name="stderr" class="lsfusion.base.log.CustodianDailyRollingFileAppender">
        <param name="file" value="logs/stderr.log" />
        <param name="encoding" value="UTF-8" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <param name="MaxNumberOfDays" value="7" />
        <param name="CompressBackups" value="true" />
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="errorlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/equ-err.log"/>
            <param name="fileNamePattern" value="logs/equ-err-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <!-- 100MB -->
            <param name="maxFileSize" value="104857600"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN"/>
        </filter>
    </appender>

    <appender name="transactionlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/transaction-log.log"/>
            <param name="fileNamePattern" value="logs/transaction-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="stoplistlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/stoplist-log.log"/>
            <param name="fileNamePattern" value="logs/stoplist-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="deletebarcodelog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/deletebarcode-log.log"/>
            <param name="fileNamePattern" value="logs/deletebarcode-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="sendsaleslog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/sendsales-log.log"/>
            <param name="fileNamePattern" value="logs/sendsales-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="softchecklog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/softcheck-log.log"/>
            <param name="fileNamePattern" value="logs/softcheck-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="terminaldocumentlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/terminaldocument-log.log"/>
            <param name="fileNamePattern" value="logs/terminaldocument-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="machineryexchangelog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/machineryexchange-log.log"/>
            <param name="fileNamePattern" value="logs/machineryexchange-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="processmonitorlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/processmonitor-log.log"/>
            <param name="fileNamePattern" value="logs/processmonitor-log-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="equipmentlog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/equipment.log"/>
            <param name="fileNamePattern" value="logs/equipment-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="10485760"/> <!-- 10MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <!--handler logs-->

    <appender name="astronLog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/handlers/astron/astron.log"/>
            <param name="fileNamePattern" value="logs/handlers/astron/astron-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="astronSalesLog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/handlers/astron/sales.log"/>
            <param name="fileNamePattern" value="logs/handlers/astron/sales-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <!--todo: ????????? ??? ??? ???????????? packid-->
    <appender name="astronPackLog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/handlers/astron/pack.log"/>
            <param name="fileNamePattern" value="logs/handlers/astron/pack-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <appender name="casLog" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="minIndex" value="1"/>
            <param name="maxIndex" value="5"/>
            <param name="activeFileName" value="logs/handlers/cas.log"/>
            <param name="fileNamePattern" value="logs/handlers/cas-%i.log.zip"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="maxFileSize" value="104857600"/> <!-- 100MB -->
        </triggeringPolicy>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%d{DATE} %5p %c{1} - %m%n%throwable{1000}"/>
        </layout>
    </appender>

    <category name="TransactionLogger">
        <priority value="INFO"/>
        <appender-ref ref="transactionlog"/>
    </category>
    
    <category name="StopListLogger">
        <priority value="INFO"/>
        <appender-ref ref="stoplistlog"/>
    </category>

    <category name="DeleteBarcodeLogger">
        <priority value="INFO"/>
        <appender-ref ref="deletebarcodelog"/>
    </category>

    <category name="SendSalesLogger">
        <priority value="INFO"/>
        <appender-ref ref="sendsaleslog"/>
    </category>
    
    <category name="SoftCheckLogger">
        <priority value="INFO"/>
        <appender-ref ref="softchecklog"/>
    </category>
    
    <category name="TerminalDocumentLogger">
        <priority value="INFO"/>
        <appender-ref ref="terminaldocumentlog"/>
    </category>
    
    <category name="MachineryExchangeLogger">
        <priority value="INFO"/>
        <appender-ref ref="machineryexchangelog"/>
    </category>

    <category name="ProcessMonitorLogger">
        <priority value="INFO"/>
        <appender-ref ref="processmonitorlog"/>
    </category>

    <category name="EquipmentLogger">
        <priority value="INFO"/>
        <appender-ref ref="equipmentlog"/>
    </category>

    <category name="AstronLogger">
        <priority value="INFO"/>
        <appender-ref ref="astronLog"/>
    </category>

    <category name="AstronSalesLogger">
        <priority value="INFO"/>
        <appender-ref ref="astronSalesLog"/>
    </category>

    <category name="AstronPackLogger">
        <priority value="INFO"/>
        <appender-ref ref="astronPackLog"/>
    </category>

    <category name="CASLogger">
        <priority value="INFO"/>
        <appender-ref ref="casLog"/>
    </category>
    
    <category name="org.springframework" additivity="false">
        <priority value="ERROR"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="stderr"/>
    </category>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="stdout"/>
        <appender-ref ref="stderr"/>
        <appender-ref ref="errorlog"/>
    </root>
</log4j:configuration>