<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    
    <bean id="serverHost" class="java.lang.String">
        <constructor-arg value="localhost" />
    </bean>

    <bean id="equipmentServer" class="equ.clt.EquipmentServer">
        <constructor-arg value="1"/>
        <!-- указываем сервер хост отдельным бином, т.к. serverHost нужен, чтобы инициализировать RMI до создания этого бина -->
        <constructor-arg ref="serverHost"/>
        
        <constructor-arg value="7652"/>
        <constructor-arg value="default"/>
        <!--<property name="transactionThreadCount" value="20"/>-->
        <property name="mergeBatches" value="false"/>
        <!--<property name="disableSales" value="false"/>-->
        <property name="loginTimeout" value="60"/>
        <property name="waitForThreadDeath" value="300"/>
    </bean>

    <bean id="kristalSettings" class="equ.clt.handler.kristal.KristalSettings">
        <constructor-arg value="sa"/>
        <constructor-arg value="mssql"/>
        <constructor-arg value=""/> <!--c:\dir1 -> 192.168.42.84, c:\dir2 -> 192.168.42.85-->
        <constructor-arg value="1433"/>
        <constructor-arg value="SES"/>
        <property name="useIdItem" value="true"/>
        <property name="lastDaysCashDocument" value="7"/>
        <property name="noMessageAndScaleFiles" value="true"/>
        <property name="transformUPCBarcode" value="12to13"/>
        <property name="useCheckNumber" value="true"/>
        <property name="importPrefixPath" value="/import/"/>
        <property name="exportPrefixPath" value="/export/"/>
        <property name="maxFilesCount" value="3"/>
        <property name="importGroupType" value="1"/> <!--0 - "0|0|0|0|0"; 1 - standard ("x|y|z|a|b"), 2 - itemGroup objValue, 3 - newType-->
        <property name="noRestriction" value="false"/>
        <property name="deleteSuccessfulFiles" value = "false"/>
        <!--<property name="idPositionCashier" value = "cashier"/>-->
        <!--<property name="zeroesInItemGroup" value = "true"/>-->
    </bean>

    <bean id="kristal10Settings" class="equ.clt.handler.kristal10.Kristal10Settings">
        <property name="useShopIndices" value="true"/>
        <!--<property name="skipUseShopIndicesMinPrice" value="true"/>-->
        <!--<property name="weightShopIndices" value="1"/>-->
        <property name="transformUPCBarcode" value="13to12"/>
        <property name="brandIsManufacturer" value="false"/>
        <property name="idItemInMarkingOfTheGood" value="false"/>
        <!--<property name="skipWeightPrefix" value="false"/>-->
        <!--<property name="skipScalesInfo" value="false"/>-->
        <property name="seasonIsCountry" value="false"/>
        <property name="maxFilesCount" value="3"/>
        <!--<property name="useIdItemInRestriction" value="true"/>-->
        <!--<property name="tobaccoGroup" value="КАУ017352,КАУ015404"/>-->
        <!--<property name="ignoreSalesWeightPrefix" value="true"/>-->
        <!--<property name="cleanOldFilesDays" value="10"/>-->
        <!--<property name="ignoreSalesDepartmentNumber" value="true"/>-->
        <!--<property name="ignoreFileLock" value="true"/>-->
        <property name="discountCardPercentType" value="0->1, 3->2, 5->3, 10->4"/> <!--percent-type-->
        <!--<property name="discountCardDirectory" value="/cards/source/"/>-->
        <!--<property name="notGTINPrefixes" value="98,99"/>-->
        <property name="giftCardRegexp" value="(?!666)\d{3}"/>
        <property name="useNumberGroupInShopIndices" value="false"/>
    </bean>

    <bean id="shtrihSettings" class="equ.clt.handler.ScalesSettings">
        <property name="usePLUNumberInMessage" value="true"/>
        <property name="newLineNoSubstring" value="false"/>
        <property name="useSockets" value="true"/>
        <property name="allowParallel" value="false"/>
        <property name="capitalLetters" value="false"/>
        <property name="advancedClearMaxPLU" value="500"/><!--0 to disable-->
    </bean>

    <bean id="bizerbaSettings" class="equ.clt.handler.ScalesSettings">
        <property name="allowParallel" value="true"/>
        <property name="capitalLetters" value="false"/>
        <property name="notInvertPrices" value="true"/>
    </bean>

    <bean id="ukm4MySQLSettings" class="equ.clt.handler.ukm4mysql.UKM4MySQLSettings">
        <property name="cashPayments" value="0"/>
        <property name="cardPayments" value="1,2"/>
        <property name="giftCardPayments" value="3"/>
        <!--<property name="giftCardsList" value="629511,629512,629513"/>-->
        <property name="timeout" value="100"/>
        <property name="skipItems" value="false"/>
        <!--<property name="skipClassif" value="true"/>-->
        <property name="skipBarcodes" value="false"/>
        <property name="useBarcodeAsId" value="false"/>
        <property name="appendBarcode" value="false"/>
        <property name="lastDaysCashDocument" value="7"/>
        <property name="useShiftNumberAsNumberZReport" value="false"/>
        <property name="exportTaxes" value="false"/>
        <property name="zeroPaymentForZeroSumReceipt" value="false"/>
        <property name="sendZeroQuantityForWeightItems" value="false"/>
    </bean>

    <bean id="eqsSettings" class="equ.clt.handler.eqs.EQSSettings">
        <property name="appendBarcode" value="true"/>
        <property name="giftCardRegexp" value="7[0-9]{1}000.*"/>
        <property name="skipIdDepartmentStore" value="true"/>
        <!--<property name="forceIdDepartmentStores" value="СК1,СК2,СК3"/>-->
        <property name="discountCardThreadCount" value="5"/>
    </bean>

    <bean id="astronSettings" class="equ.clt.handler.astron.AstronSettings">
        <property name="timeout" value="300"/>
        <property name="groupMachineries" value="75 -> 1, 999 -> 2"/>
        <property name="exportExtraTables" value="false"/>
    </bean>

    <bean id="htcSettings" class="equ.clt.handler.htc.HTCSettings">
        <property name="makeBackup" value="true"/>
        <property name="useDataDirectory" value="false"/>
    </bean>

    <bean id="digiSettings" class="equ.clt.handler.digi.DigiSettings">
        <property name="maxLineLength" value="50"/>
        <!--<property name="maxNameLength" value="20"/>-->
    </bean>

    <bean id="digiSM120Settings" class="equ.clt.handler.digi.DigiSM120Settings">
        <property name="nameLineFont" value="7"/> <!--0-9-->
        <property name="nameLineLength" value="28"/>
        <property name="descriptionLineFont" value="2"/>
        <property name="descriptionLineLength" value="55"/>
    </bean>

    <bean id="artixSettings" class="equ.clt.handler.artix.ArtixSettings">
        <property name="globalExchangeDirectory" value="e://work//artix"/>
        <property name="appendBarcode" value="true"/>
        <property name="giftCardRegexp" value="7[0-9]{1}000.*"/>
        <property name="disableCopyToSuccess" value="false"/>
        <property name="readCashDocuments" value="true"/>
        <property name="exportClients" value="false"/>
        <property name="exportSoftCheckItem" value="false"/>
<!--        <property name="maxFilesCount" value="4"/>-->
        <property name="bonusesInDiscountPositions" value="false"/>
        <property name="giftCardPriceInCertificatePositions" value="false"/>
        <!--<property name="priorityDirectoriesCount" value="0"/>-->
        <property name="disableSoftCheck" value="false"/>
    </bean>

    <bean id="massaKRL10Settings" class="equ.clt.handler.massak.MassaKRL10Settings">
        <property name="nameLineLength" value="25"/>
    </bean>

    <bean id="dreamkasSettings" class="equ.clt.handler.dreamkas.DreamkasSettings">
        <property name="baseURL" value="https://kabinet.dreamkas.by/api/"/>
        <property name="token" value="8031aba2-b720-4892-9184-58fdbc058ae3"/>
        <property name="salesHours" value="0"/>
        <property name="salesLimitReceipt" value="500"/>
        <property name="stepSend" value="50"/>
        <property name="runReadSalesInterval" value="100"/>
        <!--выжно чтобы был уникальным для клиента: "a"-Mkristall-->
<!--        <property name="uuidSuffix" value=""/>-->
    </bean>

    <bean id="aclasLS2Settings" class="equ.clt.handler.aclas.AclasLS2Settings">
        <property name="libraryDir" value="c:\aclas\Win64\"/>
    </bean>

</beans>