<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">
    
    <bean id="serverHost" class="java.lang.String">
        <constructor-arg value="localhost" />
    </bean>

    <bean id="equipmentServer" class="equ.clt.EquipmentServer">
        <constructor-arg value="1"/>
        <!-- указываем сервер хост отдельным бином, т.к. serverHost нужен, чтобы инициализировать RMI до создания этого бина -->
        <constructor-arg ref="serverHost"/>
        
        <constructor-arg value="7652"/>
        <constructor-arg value="default"/>
    </bean>

    <bean id="kristalSettings" class="equ.api.cashregister.DBSettings">
        <constructor-arg value="sa"/>
        <constructor-arg value="mssql"/>
        <constructor-arg value="192.168.42.84"/>
        <constructor-arg value="1433"/>
        <constructor-arg value="SES"/>
    </bean>

    <bean id="shtrihSettings" class="equ.api.scales.ScalesSettings">
        <constructor-arg value="true"/>
        <constructor-arg value="false"/>
    </bean>

</beans>