<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">
    
    <bean id="serverHost" class="java.lang.String">
        <constructor-arg value="localhost" />
    </bean>

    <bean id="equipmentServer" class="equ.clt.EquipmentServer">
        <constructor-arg value="1"/>
        <!-- указываем сервер хост отдельным бином, т.к. serverHost нужен, чтобы инициализировать RMI до создания этого бина -->
        <constructor-arg ref="serverHost"/>
        
        <constructor-arg value="7652"/>
        <constructor-arg value="default"/>
        <!--<property name="transactionThreadCount" value="20"/>-->
        <property name="mergeBatches" value="false"/>
        <!--<property name="disableSales" value="false"/>-->
    </bean>

    <bean id="kristalSettings" class="equ.clt.handler.kristal.KristalSettings">
        <constructor-arg value="sa"/>
        <constructor-arg value="mssql"/>
        <constructor-arg value=""/> <!--c:\dir1 -> 192.168.42.84, c:\dir2 -> 192.168.42.85-->
        <constructor-arg value="1433"/>
        <constructor-arg value="SES"/>
        <property name="useIdItem" value="true"/>
        <property name="lastDaysCashDocument" value="7"/>
        <property name="noMessageAndScaleFiles" value="true"/>
        <property name="transformUPCBarcode" value="12to13"/>
        <property name="useCheckNumber" value="true"/>
        <property name="importPrefixPath" value="/import/"/>
        <property name="exportPrefixPath" value="/export/"/>
        <property name="maxFilesCount" value="3"/>
        <property name="importGroupType" value="1"/> <!--0 - "0|0|0|0|0"; 1 - standard ("x|y|z|a|b"), 2 - itemGroup objValue, 3 - newType-->
        <property name="noRestriction" value="false"/>
        <property name="deleteSuccessfulFiles" value = "false"/>
        <!--<property name="idPositionCashier" value = "cashier"/>-->
    </bean>

    <bean id="kristal10Settings" class="equ.clt.handler.kristal10.Kristal10Settings">
        <property name="useShopIndices" value="true"/>
        <property name="transformUPCBarcode" value="13to12"/>
        <property name="brandIsManufacturer" value="false"/>
        <property name="idItemInMarkingOfTheGood" value="false"/>
        <!--<property name="skipWeightPrefix" value="false"/>-->
        <!--<property name="skipScalesInfo" value="false"/>-->
        <property name="seasonIsCountry" value="false"/>
        <property name="maxFilesCount" value="3"/>
        <!--<property name="useIdItemInRestriction" value="true"/>-->
        <!--<property name="tobaccoGroup" value="КАУ017352,КАУ015404"/>-->
        <!--<property name="ignoreSalesWeightPrefix" value="true"/>-->
        <!--<property name="cleanOldFilesDays" value="10"/>-->
        <!--<property name="ignoreSalesDepartmentNumber" value="true"/>-->
        <!--<property name="ignoreFileLock" value="true"/>-->
        <property name="discountCardPercentType" value="0->1, 3->2, 5->3, 10->4"/> <!--percent-type-->
        <!--<property name="discountCardDirectory" value="/cards/source/"/>-->
    </bean>

    <bean id="shtrihSettings" class="equ.clt.handler.ScalesSettings">
        <property name="usePLUNumberInMessage" value="true"/>
        <property name="newLineNoSubstring" value="false"/>
        <property name="useSockets" value="true"/>
        <property name="allowParallel" value="false"/>
        <property name="capitalLetters" value="false"/>
        <property name="advancedClearMaxPLU" value="500"/><!--0 to disable-->
    </bean>

    <bean id="bizerbaSettings" class="equ.clt.handler.ScalesSettings">
        <property name="allowParallel" value="true"/>
        <property name="capitalLetters" value="false"/>
    </bean>

    <bean id="ukm4MySQLSettings" class="equ.clt.handler.ukm4mysql.UKM4MySQLSettings">
        <property name="cashPayments" value="0"/>
        <property name="cardPayments" value="1,2"/>
        <property name="giftCardPayments" value="3"/>
        <property name="timeout" value="100"/>
        <property name="skipItems" value="false"/>
        <!--<property name="skipClassif" value="true"/>-->
        <property name="skipBarcodes" value="false"/>
        <property name="useBarcodeAsId" value="false"/>
        <property name="appendBarcode" value="false"/>
        <property name="lastDaysCashDocument" value="7"/>
    </bean>

    <bean id="astronSettings" class="equ.clt.handler.astron.AstronSettings">
        <property name="connectionString" value="jdbc:sqlserver://192.168.42.42;databaseName=Tranzit_DB"/>
        <property name="user" value="sa"/>
        <property name="password" value="123456"/>
        <property name="timeout" value="300"/>
    </bean>

    <bean id="eqsSettings" class="equ.clt.handler.eqs.EQSSettings">
        <property name="connectionString" value="jdbc:mysql://192.168.42.42/eqs"/>
        <property name="user" value="root"/>
        <property name="password" value=""/>
    </bean>

    <bean id="htcSettings" class="equ.clt.handler.htc.HTCSettings">
        <property name="makeBackup" value="true"/>
        <property name="useDataDirectory" value="false"/>
    </bean>

    <bean id="digiSettings" class="equ.clt.handler.digi.DigiSettings">
        <property name="maxLineLength" value="50"/>
    </bean>
</beans>