.attribute-property {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.attribute-property .not-null {
    border: 1px solid red;
    background: var(--component-background-color);
    border-radius: var(--textfield-border-radius);
}
